{% extends "bases/home_base.html"%}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="burger-wrapper">
    <div class="burger-menu">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </div>

  <div>
    <form>
      <h1>Login</h1>

      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">

      <button type="submit">Login</button>
    </form>
  </div>

  <div class="primary-container">
    hey
  </div>
{% endblock %}