body {
    margin: 0px;
}

/* General style MODERN */
.style-modern {
    font-family: Arial, Helvetica, sans-serif;
}
.style-modern a {
    text-decoration: none;
}
.style-modern a:hover {
    text-decoration: underline;
}
.style-modern form input {
    display: block;
}
.style-modern input {
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

/* General style ROUNDED */
.style-rounded {
    font-family: Arial, Helvetica, sans-serif;
}
.style-rounded a {
    text-decoration: none;
}
.style-rounded a:hover {
    text-decoration: underline;
}
.style-rounded .burger-menu-icon-line {
    border-radius: 15px;
}

/* Font style BIG */ 
.font-big .burger-menu a {
    font-size: 25px;
}
.font-big input {
    font-size: 20px;
}

/* Spacing OPEN */
.space-open .burger-menu {
    padding: 50px;
}
.space-open .burger-menu a {
    padding: 0px 25px;
}
.space-open .burger-menu-mobile-close {
    padding: 25px !important;
}
.space-open .burger-menu-mobile {
    margin: 25px;
}
.space-open input {
    padding: 10px;
    margin-bottom: 10px;
}
.space-open .primary-container,
.space-open .secondary-container {
    padding: 25px;
}

/* Palette RED */
.palette-red .burger-menu {
    background-color: #E3AfBC;
    box-shadow: 0px 2px 20px -2px #E3AfBC;
}
.palette-red .burger-menu a {
    color: black;
}
.palette-red .burger-menu-icon-line {
    background-color: #E3AfBC;
}
.palette-red .burger-menu-mobile-close:before, .burger-menu-mobile-close:after {
    background-color: black;
}
.palette-red  .primary-container {
    background-color: #E3AfBC;
}

/* Palette BLUE */
.palette-blue .burger-menu {
    background-color: #98c1d9;
    box-shadow: 0px 2px 20px -2px #98c1d9;
}
.palette-blue .burger-menu a {
    color: #333333;
}
.palette-blue .burger-menu-icon-line {
    background-color: #98c1d9;
}
.palette-blue .burger-menu-mobile-close:before, .burger-menu-mobile-close:after {
    background-color: #333333;
}
.palette-blue input:focus {
    border-color: #98c1d9;
    transition: .3s;
}
.palette-blue .primary-container {
    background-color: #98c1d9;
}

/* Containers */
.primary-container {
    display: inline-block;
}

/* Hamburger Menu Basics */
.burger-menu {
    display: block;
}
.burger-menu-mobile {
    display: none;
}
.burger-menu-icon-line {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
}
.mobile-menu-content {
    display: block !important;
}

.burger-menu-mobile-close {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
}
.burger-menu-mobile-close:hover {
    opacity: 1;
}
.burger-menu-mobile-close:before, .burger-menu-mobile-close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
}
.burger-menu-mobile-close:before {
    transform: rotate(45deg);
}
.burger-menu-mobile-close:after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 600px) {
    .space-open .burger-menu a {
        padding: 25px 0px;
    }
    
    .burger-menu {
        display: none;
        height: 100vh;
        text-align: center;
    }
    .burger-menu a {
        display: block;
    }

    .burger-menu-mobile {
        display: inline-block;
    }

    .burger-menu-mobile-close {
        display: inline-block;
    }
}